body{
	background-color: black;
	background-image:url("../images/lampadaire.jpg");
	background-repeat: no-repeat;
	margin:auto;
    width:80%;
	padding: auto;
	background-position: 100% 0%;
	color:white;
}

#info{
	font-size: 15px;
}

#spacer{
	height: 5px;
	clear:both;
}

#message{
	background-color: #999;
	font-size: 30px;
	color :black;
	width:400px;
	margin:20px;
	text-align: center;
}
form{
	border: inset 3px darkgray;
	font-size: 15px;
	color:white;
	width:400px;
	padding:20px;
}
	
input{
	float: right;
}