body {
  padding-top: 50px;
  background-image:url(../images/zipper.jpg);
  background-repeat:no-repeat;
  background-size:100% 200%;
  font-size: 1em;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.gestiontitle
{
	color: #a8ffae;
}