body {
  padding-top: 70px;
  padding-bottom: 30px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class - marco*/
.carousel {
  height: 600px;
  margin-bottom: 20px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element - dimention inside element */
.carousel .item {
  height: 600px;
  background-color: #777;
}

.carousel-inner > .item > img 
{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 650px;

}

.description
{
  outline: 2px red solid;
  margin-right:180px;
  
}

.title
{
	margin-left:120px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
