* {
	margin:0px;
	padding:0px;
}

html {
	background-color:#090f1d;
}

.clear {
	clear:both;
}

.site {
	margin:30px auto;
	background-image:url('../images/background.jpg');
	height:640px;
	width:960px;
}

.title {
	width:475px;
	padding:10px;
	margin:10px auto;
	border:1px solid #222222;
	background-color:#0393f6;
	color:white;
	text-align:center;
	font-weight:bold;
	font-variant: small-caps;
}

.container {
	width:495px;
	height:450px;
	background-color:white;
	margin:10px auto;
	border:1px solid #222222;
	overflow-x:none;
	overflow-y:auto;
}

.questionContainer {
	width:495px;
	height:60px;
	margin:10px auto;
}

.buttonContainer {
	text-align:right;
}

.activityBar {
	color:white;
	width:0px;
	height:25px;
	border:1px solid #444444;
	background-color:#0393f6;
}