@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	color:#81f7f3;
	background-image:url(../img/gribouillefond.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.headergribouille
{
	margin-left:175px;
	margin-top:45px;
}

.headergribouille img {
border-radius: 50% 0; 
box-shadow: 0px 0px 15px #000; 
padding:15px; 
background:#FFF; 
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
 width:85%;
}

.headergribouille img:hover {
border-radius:0; 
-moz-transition: all 1s;
-webkit-transition: all 1s;
-o-transition: all 1s;
cursor:pointer;
}

a {
	color:#1D4383;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #afb3b8;
	outline: none;
}





.content {
	min-height:50px;
	padding-bottom: 0em;
	margin-top:-422px;
}

.content--tiny {
	max-width: 800px;
}

.container {
	text-align: center;
	padding: 5.25em 0.5em 0;
}

/* Header */
.codrops-header {
	padding: 0;
	letter-spacing: -1px;

}

.headerindex
{

	margin-right:260px;
}

.codrops-header h1 {
	font-weight: 800;
	font-size: 3.5em;
	line-height: 1;
	margin: 0;
	color:#CF1B1E;
	width:625px;
	float:left;
}

.titleprogramme
{
	margin-right:230px;
}

.placeparents
{
	margin-right:280px;
}

.codrops-header h1 span {
	display: block;
	font-size: 35%;
	letter-spacing: 1px;
	padding-top: 0.75em;
}

/* To Navigation Style */
.codrops-links {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.25em;
}

.codrops-links a {
	display: inline-block;
	padding: 0.5em 0;
	margin: 0.5em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Codrops demo links */
.codrops-demos {
	margin: 3em auto;
	max-width: 700px;
}

.codrops-demos a {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.25em 0;
	margin: 5px 10px;
	display: inline-block;
	font-size: 0.85em;
}

.codrops-demos a.current-demo {
	opacity: 0.5;
}

/* Related demos */
.related {
	text-align: center;
	padding: 10em 0;
	clear: both;
	font-weight: bold;
}

.related > a {
	width: 200px;
	display: inline-block;
	text-align: center;
	margin: 1em;
	font-size: 0.8em;
	vertical-align: top;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	font-size: ;
	padding: 0.5em 0 0.3em;
	max-width: 200px;
	text-align: left;
}

/*******************************************************************************/
/*******************************************************************************/
.codrops-header{
	/*float: left;*/
}
.codrops-header h1{
	float:none;
	width: auto;
}

.headerindex{
	margin-right: 0;
}





/*******************************************************************************/
/*******************************************************************************/
 

@media screen and (max-width: 30em) 
{
	.codrops-header h1
    {
		font-size: 3em;
	}
	
		
}


/* Portrait and Landscape */
@media only screen  and (max-width : 640px)

{
 
   
   .headergribouille
   {
      margin-left:47px;
      width:90%;       
   }
    
   .menuhaut
   
   {
	  margin-left:15px;   
	  width:320px;       
   }
 
  .content
	{
	
		margin-top:2px;
		margin-bottom:12px;
	}
	
	.codrops-header
	{
		
		width:118px;
		font-size:9px;
		margin-left:122px
	}
   
}