/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


.menudes
 {
position: relative;
overflow: hidden;
width: 150px;
margin: 1px auto 10px;
background: #33004B;
text-align:left;
font-size: 0;
float:left;
padding-right:18px;
border-radius:5px;

}

.menudes a 
{
display: block;
padding: 12px;
padding-left:1px;
margin-right:19px;
border-bottom: 2px solid #fff;
position: relative;
z-index: 2;
color:yellow;
text-decoration: none;
font-size: 11px;
text-transform: uppercase;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
font-family: arial;
font-weight: bold;
}

.mess
	{
		font-size: bold;
		background-color:yellow;
	}


.marca 
{
position: absolute;
top: -30%;
left: 0;
width: 100%;
height: 12.5%;
background: orange;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
z-index: 1;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.menudes a:hover {color: #000;}
.menudes a:nth-child(1):hover ~ .marca {top: 0%;}
.menudes a:nth-child(2):hover ~ .marca {top: 12.5%%;} /* (100/nº elementos)x1 */
.menudes a:nth-child(3):hover ~ .marca {top: 25%;} /* (100/nº elementos)x2 */
.menudes a:nth-child(4):hover ~ .marca {top: 37.5%;} /* (100/nº elementos)x3 */
.menudes a:nth-child(5):hover ~ .marca {top: 50%;}
.menudes a:nth-child(6):hover ~ .marca {top: 62.5%;}
.menudes a:nth-child(7):hover ~ .marca {top: 75%;}
.menudes a:nth-child(8):hover ~ .marca {top: 87.5%;}

/*******************************************************************************/
/*******************************************************************************/
.menudes{
	margin-right: 24px;
}

/*******************************************************************************/
/*******************************************************************************/


/* Portrait and Landscape */
@media only screen  and (max-width : 640px)

{
	.menudes
	{
		width:30%;
	}
	
	.menudes ul
	{
	
		padding-left:1px;
		font-size:2px;
	}
	

}
