.menu {
	position: fixed;
	width: 300px;
	top: 3em;
	bottom: 3em;
	left: 0;
	overflow: hidden;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--open {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.main {
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
	
}

.maincontent
 {

	width: 415px;
	float: left;
	margin-left:40px;
	margin-top:54px;
	text-align:justify;
	font-size:20px;
	color:#1D4383;


}

.photoparents
{
 
   width:815px;
   margin-right:543px;
   margin-left:623px;

}

.servicesofferts
{
   width: 215px;
   margin-right:356px;
   margin-left:242px;
   float:left;
}  


.maincontentmilieu
 {
	width: 615px;
	margin-left:140px;
	margin-right:230px;
	margin-bottom:434px;
	float:right;
	font-size:20px;
	color:#1D4383;
	margin-right:345px;
    height:566px;
}


.maincontent p
{
	font-size:20px;
	font-weight:bold;
	margin-left:12px;
	color:#1D4383;
	float:left;	
}


.equipe
{
	margin-top:522px;
	margin-right:332px;	
}

.messagesenfants
{

	width:223px;
	height:235px;
	float:right;
	margin-top:42px;
	margin-bottom: 950px;
	margin-right:120px;
	margin-left: 20px;

}

.messageslongs

{
    width:1445px;
    height:32px;
    
}

.messagesenfants p
{
	color: #000000;
	font-size:12;
}

#horairenfants
{
	width:770px;
	margin-left:180px;
}

.autor
{
   color: #000000;
	font-size:12;
}

.mess
{
	color: #000000;
	font-size:14;
}

.buttons
{
   margin-right:135px;
  
}

.equipetitle
{
	margin-right:312px;
}

.lienstitle
{
	margin-right:210px;
}

.gribverte
{
	margin-right:20px;
}

.adminheader
{
	margin-right:180px;
}

#colortitle
{
	color:green;
}

.menu.menu--open + .main {
	opacity: 0.3;
	pointer-events: none;
}

.menu__inner {
	width: calc(100% + 25px);
	padding: 0 140px 2em 0;
	overflow-y: auto;
	height: 100%;
	position: relative;
	z-index: 100;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
	margin: 0 0 2em 0;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--anim ul li {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu ul li a {
	display: block;
	outline: none;
}

.menu ul li .fa {
	font-size: 2.5em;
	display: block;
	margin: 0 auto;
	color: #5f656f;
}

.menu ul li span {
	font-weight: bold;
	font-size: 0.75em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu__handle {
	background: #2f3238;
	border: none;
	width: 30px;
	height: 24px;
	padding: 0;
	outline: none;
	position: absolute;
	top: 3px;
	right: 70px;
	z-index: 2000;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
	background: #5f656f;
}

.menu__handle::before,
.menu__handle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}

.menu__handle span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.menu__handle::before {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
	opacity: 0;
}

.menu--open .menu__handle::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.menuhaut
{
	margin-right:174px;
}

.messagesenfantsposition
{
	
	width:223px;
	height:235px;
	float:right;
	margin-top:42px;
	margin-bottom: 950px;
	margin-right:120px;
	margin-left: 20px;
}


.square 
{
	margin-left:134px;
	background-color:#5BF787;
	width:835px;
	height:1280px;
	border-radius:55px;
}

.photolocal
{

	margin-right:622px;
	margin-bottom:766px;
	width:415px;
	float:left;
}

.photoindex
{
   margin-right:90px;
}

.photoedu
{
	margin-right:50px;
	margin-left:130px;
}

a.menuhaut{
margin: 0px;
font:Verdana;
font-size:15px;
color: #1D4383;
text-decoration:none;
padding-top:6px;
padding-right:6px;
padding-left:6px;
}

p.menuhaut{
text-align:right;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
color: #1D4383;
font-weight:600;
padding-top:6px;
}
	
.menuhaut a:link, a:visited{
	color:#1D4383;
}

.menuhaut a:active, a:hover {
color:#f9c205;
text-decoration:underline;
}

p.menuhaut a:link, a:visited{
	color:#1D4383;
}

p.menuhaut a:active, a:hover {
color:#f9c205;
text-decoration:underline;
}

.menuhaut .esp
{
	color:red;
	font-size:18px;
}

.horaire {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}

.hyper {
color: #1D4383;
}

.hyper a:link, a:hover, a:active, a:visited {
color:#1D4383;
}

.verte {color:#009900;}
.morph-shape {
	position: absolute;
	width: 240px;
	height: 100%;
	top: 0;
	right: 0;
}

.morph-shape svg path {
	stroke: #5f656f;
	stroke-width: 5px;
}

.erreurs
{
            -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            background: red;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            color: #fff;
            display: none;
            font-size: 14px;
            margin-top: -50px;
            margin-left: 600px;
            padding: 10px;
            position: absolute;
}

.loginbutton {
	-moz-box-shadow: 0px 4px 50px 14px #080602;
	-webkit-box-shadow: 0px 4px 50px 14px #080602;
	box-shadow: 0px 4px 50px 14px #080602;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0d9c3), color-stop(1, #a88932));
	background:-moz-linear-gradient(top, #e0d9c3 5%, #a88932 100%);
	background:-webkit-linear-gradient(top, #e0d9c3 5%, #a88932 100%);
	background:-o-linear-gradient(top, #e0d9c3 5%, #a88932 100%);
	background:-ms-linear-gradient(top, #e0d9c3 5%, #a88932 100%);
	background:linear-gradient(to bottom, #e0d9c3 5%, #a88932 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0d9c3', endColorstr='#a88932',GradientType=0);
	background-color:#e0d9c3;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:2px solid #1f1807;
	display:inline-block;
	cursor:pointer;
	color:#050500;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	padding:12px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-right:312px;
	margin-left:140px;
}
.loginbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a88932), color-stop(1, #e0d9c3));
	background:-moz-linear-gradient(top, #a88932 5%, #e0d9c3 100%);
	background:-webkit-linear-gradient(top, #a88932 5%, #e0d9c3 100%);
	background:-o-linear-gradient(top, #a88932 5%, #e0d9c3 100%);
	background:-ms-linear-gradient(top, #a88932 5%, #e0d9c3 100%);
	background:linear-gradient(to bottom, #a88932 5%, #e0d9c3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a88932', endColorstr='#e0d9c3',GradientType=0);
	background-color:#a88932;
}
.loginbutton:active {
	position:relative;
	top:1px;
}

.quit {
	-moz-box-shadow: 0px 4px 50px 14px #e02434;
	-webkit-box-shadow: 0px 4px 50px 14px #e02434;
	box-shadow: 0px 4px 50px 14px #e02434;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0d9c3), color-stop(1, #ed2f2f));
	background:-moz-linear-gradient(top, #e0d9c3 5%, #ed2f2f 100%);
	background:-webkit-linear-gradient(top, #e0d9c3 5%, #ed2f2f 100%);
	background:-o-linear-gradient(top, #e0d9c3 5%, #ed2f2f 100%);
	background:-ms-linear-gradient(top, #e0d9c3 5%, #ed2f2f 100%);
	background:linear-gradient(to bottom, #e0d9c3 5%, #ed2f2f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0d9c3', endColorstr='#ed2f2f',GradientType=0);
	background-color:#e0d9c3;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:2px solid #c41624;
	display:inline-block;
	cursor:pointer;
	color:#94063f;
	font-family:Times New Roman;
	font-size:15px;
	font-weight:bold;
	padding:16px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.quit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed2f2f), color-stop(1, #e0d9c3));
	background:-moz-linear-gradient(top, #ed2f2f 5%, #e0d9c3 100%);
	background:-webkit-linear-gradient(top, #ed2f2f 5%, #e0d9c3 100%);
	background:-o-linear-gradient(top, #ed2f2f 5%, #e0d9c3 100%);
	background:-ms-linear-gradient(top, #ed2f2f 5%, #e0d9c3 100%);
	background:linear-gradient(to bottom, #ed2f2f 5%, #e0d9c3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed2f2f', endColorstr='#e0d9c3',GradientType=0);
	background-color:#ed2f2f;
}

.quit:active {
	position:relative;
	top:1px;
}

/*******************************************************************************/
/*******************************************************************************/

.messagesenfants{
	margin-top: 0;
	margin-right: 0;
}

.maincontent {
    width: auto;
    float: none;
}
.maincontent p{
	float: none;
}
.maincontent ol{
	list-style-position: inside;
}

#citations
{
   margin-left:175px;
   width:725px;
  
}



/*******************************************************************************/
/*******************************************************************************/


@media screen and (max-width: 63em)
 {
	.main {
		padding: 0 2em;
		-webkit-transition: opacity 0.6s;
		transition: opacity 0.6s;
	}

	.menu {
		-webkit-transform: translate3d(-170px, 0, 0);
		transform: translate3d(-170px, 0, 0);
	}

	.menu.menu--open + .main {
		opacity: 0.05;
	}
}

/* Portrait and Landscape */
@media only screen  and (max-width : 640px)

{ 
  .adminheader
  {
	 float:right;
	 margin-top:-322px; 

  }

  .main img
  {
    width:325px;
    margin-left:150px;
    margin-top:-880px;
  }

  .servicesofferts
  {
    height: 556px;
  }
  
  .maincontent
  { 
    margin-left:22px;
    width:40%;
	font-size:12px;
  }

  .container
  {
  	width:90%;
  }
  

  .maincontent h1
  {
	font-size:17px;
  }

  
  .maincontent p
  {
	 font-size:11px; 
  }
  
  .maincontent img
  {
	width:90%; 
	height:70%;
	margin-right:122px; 
  }

 
  .messagesenfantsposition
  { 
    width:50%;
  }
  
 #authentif
  {
    margin-left:62px;
    width:118%;
	margin-top:-622px;
  }

 #citations
  {
    width:50%;
	margin-top:622px;
  }


#horairenfants
  {
     width:10%; 
  }

 
 .maincontent .photolocal 
  { 
    margin-left:22px;
	margin-right:22px;
    width:120px;
	height:122px;
	font-size:15px;
	
  }


.maincontent .photoindex
  { 
    margin-left:2px;
	margin-right:22px;
    width:220px;
	height:122px;
	font-size:15px;

  }

  .maincontentmilieu
  {
    width:50%;

  }

  .maincontentmilieu 

  {
  	font-size:12px;
  }

  
 p.menuhaut a:link, a:visited{
	color:red;
}

.menuhaut .esp
{
	color:red;
	font-size:16px;
}
  
  .photoedu
  {
	  float:left;
	  width:50%;
  }
  
   .equipe
  {
	margin-top:32px;  
	margin-left:105px;
    margin-top:-600px;
  }
  
  .textzone
  {
	  width:250px;  
  }
  
  .square
  {  
	margin-left:1px;
	font-size:12px;
	width:290px;
   }
   
  .buttonsadmin
  {
	  width:110%;
	  margin-top:-10px;
	  margin-left:59px;

  }
   
   .loginbutton
   {
	 width:50%;
	 margin-right:12px;
	 margin-left:0px;
	 font-size:9px;
  }
  
   .quit
   {
	 width:50%;
	 height:9%;
	 margin-left:0px;
	 font-size:9px;
  }

}

