.menu {
	position: fixed;
	width: 300px;
	top: 3em;
	bottom: 3em;
	left: 0;
	z-index: 100;
	overflow: hidden;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--open 
{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.main
{
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.maincontent  
{
	width: 1180px;
	float: left;
	margin-left:122px;
	margin-top:54px;
	text-align:justify;
	font-size:20px;
	margin-left:50px;
	color:#040524;
}

.mailbox
{
	width:226px;
	margin-left:400px;
}
 
#buttons
{
  float:left;
  margin-top:122px;
  margin-left:260px;
}

.espace
{
	width:58%;
	display:inline-block;
}

.information
{
	padding-top:2px;
	width:34%;
	display:inline-block;
	vertical-align:top;
	margin-left:22px;
}

.pencil
{
	margin-top:20px;
	margin-bottom:5px;
}

.pencil2
{
	margin-top:20px;
	margin-bottom:5px;
}

#cvm
{
	float:left;
}


.maincontent .papa
{
	width:50%;
	padding-right:22px;
	float:left;
	
}

.maincontent .mama
{
	width:40%;
	padding-right:22px;
	float:right;
	margin-right:98px;
}

.papa .information
{
  margin-left:32px;
}


.papa .espace
{
    width:50%;
	
}

.mama .espace
{
	padding-top:3px;
}



.buttonstyle {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 12.5px 25px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   margin-right:390px;
   }
.buttonstyle:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.buttonstyle:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
   
 .buttonstylequit
 {
   border: 2px solid #0a3c59;
   background: #9c3e46;
   background: -webkit-gradient(linear, left top, left bottom, from(#b31e37), to(#9c3e46));
   background: -webkit-linear-gradient(top, #b31e37, #9c3e46);
   background: -moz-linear-gradient(top, #b31e37, #9c3e46);
   background: -ms-linear-gradient(top, #b31e37, #9c3e46);
   background: -o-linear-gradient(top, #b31e37, #9c3e46);
   background-image: -ms-linear-gradient(top, #b31e37 0%, #9c3e46 100%);
   padding: 13.5px 27px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
   
.buttonstylequit:hover 
{
   border: 2px solid #401822;
   text-shadow: #571e28 0 1px 0;
   background: #f5006e;
   background: -webkit-gradient(linear, left top, left bottom, from(#d66574), to(#f5006e));
   background: -webkit-linear-gradient(top, #d66574, #f5006e);
   background: -moz-linear-gradient(top, #d66574, #f5006e);
   background: -ms-linear-gradient(top, #d66574, #f5006e);
   background: -o-linear-gradient(top, #d66574, #f5006e);
   background-image: -ms-linear-gradient(top, #d66574 0%, #f5006e 100%);
   color: #fff;
 }
 
.buttonstylequit:active 
{
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#f5006e));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
 }

.maincontent p
{
	font-size:18px;
	font-weight:bold;
	margin-left:32px;
	color:#040524;
	margin-bottom:26px;
}

.equipe
{
	margin-top:522px;
	margin-right:332px;	
}

.equipetitle
{
	margin-right:102px;
}

#colortitle
{
	color:green;
}

.menu.menu--open + .main {
	opacity: 0.3;
	pointer-events: none;
}

.menu__inner {
	width: calc(100% + 25px);
	padding: 0 140px 2em 0;
	overflow-y: auto;
	height: 100%;
	position: relative;
	z-index: 100;
}

.menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu ul li {
	margin: 0 0 2em 0;
	-webkit-transform: translate3d(-150px, 0, 0);
	transform: translate3d(-150px, 0, 0);
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.menu.menu--anim ul li {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu ul li:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu ul li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu ul li:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu ul li a {
	display: block;
	outline: none;
}

.menu ul li .fa {
	font-size: 2.5em;
	display: block;
	margin: 0 auto;
	color: #5f656f;
}

.menu ul li span {
	font-weight: bold;
	font-size: 0.75em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu__handle {
	background: #2f3238;
	border: none;
	width: 30px;
	height: 24px;
	padding: 0;
	outline: none;
	position: absolute;
	top: 3px;
	right: 70px;
	z-index: 2000;
}

.menu__handle::before,
.menu__handle::after,
.menu__handle span {
	background: #5f656f;
}

.menu__handle::before,
.menu__handle::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
}

.menu__handle span {
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	overflow: hidden;
	text-indent: 200%;
	-webkit-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.menu__handle::before {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}

.menu__handle::after {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0);
}

.menu--open .menu__handle span {
	opacity: 0;
}

.menu--open .menu__handle::before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
}

.menu--open .menu__handle::after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	transform: rotate3d(0, 0, 1, -45deg);
}

.menuhaut
{
	margin-right:174px;
}

.square 
{
	margin-left:134px;
	background-color:#5BF787;
	width:1035px;
	height:1280px;
	border-radius:55px;
}

.photolocal
{
	margin-left:280px;
}

.photoedu
{
	margin-right:50px;
	margin-left:130px;
}

a.menuhaut{
margin: 0px;
font:Verdana;
font-size:15px;
color: #1D4383;
text-decoration:none;
padding-top:6px;
padding-right:6px;
padding-left:6px;
}

p.menuhaut{
text-align:right;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
color: #1D4383;
font-weight:600;
padding-top:6px;
}
	
.menuhaut a:link, a:visited{
	color:#1D4383;
}

.menuhaut a:active, a:hover {
color:#f9c205;
text-decoration:underline;
}

p.menuhaut a:link, a:visited{
	color:#1D4383;
}

p.menuhaut a:active, a:hover {
color:#f9c205;
text-decoration:underline;
}

.horaire {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}

.hyper {
color: #1D4383;
}

.hyper a:link, a:hover, a:active, a:visited {
color:#1D4383;
}

.verte {color:#009900;}
.morph-shape {
	position: absolute;
	width: 240px;
	height: 100%;
	top: 0;
	right: 0;
}

.morph-shape svg path {
	stroke: #5f656f;
	stroke-width: 5px;
}

.erreurs
{
            -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            background: red;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            color: #fff;
            display: none;
            font-size: 14px;
            margin-top: -50px;
            margin-left: 600px;
            padding: 10px;
            position: absolute;
}

@media screen and (max-width: 63em)
 {
	.main {
		padding: 0 2em;
		-webkit-transition: opacity 0.6s;
		transition: opacity 0.6s;
	}

	.menu {
		-webkit-transform: translate3d(-170px, 0, 0);
		transform: translate3d(-170px, 0, 0);
	}

	.menu.menu--open + .main {
		opacity: 0.05;
	}
}

/* Portrait and Landscape */
@media only screen  and (max-width : 640px)

{ 
  
  .maincontent
  { 
    margin-left:-22px;
    width:390px;
	
  }
  .maincontent .espace
  {
	  width:40%;
  }
  
  .maincontent .information
  {
      width:50%;
	  margin-left:12px;
	  vertical-align:top;
  }
  
  .pencil
  {
	  width:90%;  
  }
   .pencil2
  {
	  width:100%;
	  margin-top:26px;
  }
  
  .maincontent p
  {
	 margin-left:-1px; 
	 font-size:12px;
	 margin-top:32px;
  }
  
  .maincontent .papa
  {
    width:370px;	
  }
  
   .maincontent .mama
  {
    width:310px;
  }
 
  .maincontent img
  {
	width:80%; 
	height:80%;
	margin-right:122px; 
  }

 
 .maincontent .photolocal 
  { 
    margin-left:2px;
	margin-right:22px;
    width:220px;
	height:122px;
	font-size:15px;
	
  }
 
  .mama .espace
  {
     width:92px;
	 margin-left:6px;
	 margin-top:-2px;
  }
  
  .mama p
  {
	margin-bottom:2px;  
  } 
   
  .mama .information
  {
	  width:160px;
	  
  }
  
  #buttons
  {
	margin-left:-16px;
	margin-right:22px;
	width:85%;  
  }
  
  .buttonstyle
  {
	margin-right:62px;
	width:30%
  }
  
  .photoedu
  {
	  margin-left:22px;
	  width:120%;
  }
  
  .equipe
  {
	margin-top:22px;  
  }
  
  .textzone
  {
	  width:250px;  
  }
  
  .square
  {  
	margin-left:1px;
	font-size:12px;
	width:290px;
   }

}